body {
    background-color: #E0E0E0;
    color: rgb(237, 227, 227);
    font-family: 'Loos Normal Bold';
    margin: 0;
    overflow-x: hidden;
    position: relative;
}

.container {
    width: 90%;
    margin: auto;
    position: relative;
    padding: 0 5%;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 10px 0; 
}

.header-left {
    font-size: 2.2rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.85);
    font-family: loos-extrawide;
    font-style: normal;
    line-height: 0.5;
    letter-spacing: 0.000em;
    margin: 0;
    display: block;
}

.header-right {
    font-size: 2.2rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.85);
    font-family: loos-extrawide;
    font-style: normal;
    line-height: 0.5;
    letter-spacing: 0.000em;
    margin: 0;
    display: block;
}

.intro {
    font-size: 1.50rem;
    font-weight: 700;
    color: #000000;
    font-family: loos-wide;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: 0.02em;
    display: block;
}

.magazine-image {
    display: block;
    margin: 1px auto;
    width: 100%;
    height: auto;
    z-index: 2;
}

footer {
    font-size: 1.2rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.85);
    font-family: loos-extrawide;
    width: 100%;
    text-align: right;
    padding-bottom: 40px;
}
