* {
    cursor: none;
}
body {
    background-color: #E0E0E0;
    color: black;
    font-family: "loos-wide", sans-serif;
    font-size: 1.2rem;
    margin: 0;
    overflow-x: hidden;
    position: relative;
    font-weight: bold;
    cursor: none;
}

.container {
    width: 90%;
    margin: auto;
    position: relative;
    padding: 0 5%;
    z-index: 1;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 10px 0;
}

.header-left, .header-right {
    font-size: 2.8rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.85);
    font-family: "loos-extrawide";
    line-height: 0.5;
    margin: 0;
    display: block;
}

.intro {
    font-size: 2rem;
    font-weight: 700;
    color: #000000;
    font-family: "loos-wide";
    line-height: 1.1;
    letter-spacing: 0.02em;
    display: block;
}

.magazine-image {
    display: block;
    margin: 1px auto;
    width: 100%;
    height: auto;
}

.floating-image {
    position: fixed;
    width: 180px;
    height: auto;
    transition: transform 0.2s linear;
}

.floating-image.left {
    left: -50px;
    top: 40%;
}

.floating-image.right {
    right: -90px;
    top: 60%;
    transform: rotate(-10deg);
    width: 250px;
}

footer {
    font-size: 1.2rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.85);
    font-family: "loos-extrawide";
    width: 100%;
    text-align: right;
    padding-bottom: 40px;
}

.cursor {
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    pointer-events: none;
    z-index: 9999;
    will-change: transform;
    mix-blend-mode: difference;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}
